<h1>
    Signed in? <%= signed_in? %>
    <% if signed_in? %> 
        as <%= current_user.name %>
    <% end %>
</h1>
<%= link_to "Stories", storys_path %>
<%= link_to "Sign out", signout_path, method: "delete" %>